SET IDENTITY_INSERT [dbo].[Processes] ON 
SET IDENTITY_INSERT [dbo].[Processes] OFF
Go
SET IDENTITY_INSERT [dbo].[ProcessSteps] ON 
SET IDENTITY_INSERT [dbo].[ProcessSteps] OFF
Go
Update [dbo].[Processes] Set [CurrentStepId] = 1 Where [Id] = 1;
Update [dbo].[Processes] Set [CurrentStepId] = 18 Where [Id] = 2;
Update [dbo].[Processes] Set [CurrentStepId] = 35 Where [Id] = 3;
Go
